<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>1AEBABF5-F65C-436C-BA17-638A66B51D0C</key>
		<dict>
			<key>BinderUUID</key>
			<string>1AEBABF5-F65C-436C-BA17-638A66B51D0C</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>1063 667 475 522 0 0 2560 1417 </string>
		</dict>
		<key>5BD49B16-AD30-420E-8E6E-C0A281FFB93D</key>
		<dict>
			<key>BinderUUID</key>
			<string>5BD49B16-AD30-420E-8E6E-C0A281FFB93D</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>1042 690 475 522 0 0 2560 1417 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {342, 1255}}</string>
		<string>{{343, 0}, {968, 1255}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>06054169-6534-4549-B459-CF3477B02344</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0886F03E-89E1-4BC8-929A-E22A5358E7CF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0A607A33-4230-4BAE-B938-85C6E2483EBB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0F61C527-EEA6-4954-BC9D-5527562FE504</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>11E2714D-70B1-4ED2-8E9C-68CA5123FC7B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>135DBF03-0E4F-46B1-A343-3BC09A032B78</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>14C67731-9074-4B0E-9FAE-499B79D20F44</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>160621EC-768A-4D29-9A63-4C30CF5351B5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1AB03F3A-E98F-48DF-BB06-27F067D5678F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1AEBABF5-F65C-436C-BA17-638A66B51D0C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>211FB603-98F0-43EF-8F6C-4C6550579C7E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2149A706-900B-401D-8B2A-35F27D7482D2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>22D1321D-0D74-4189-83E8-87583C00EC81</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>25E226DF-1E4D-42B8-8FE9-3AFFCB744D7D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>276EF430-6B2B-4746-86BD-CDCB7B06F16F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2E308F2D-52E7-4FE3-BDCA-B7295AAF4D17</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>33AE285F-A332-4989-A3FB-A8810C82BEEA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>36A13F9E-A5A9-4F47-B0BD-127C33E40D9D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>394FE7AE-392D-48B6-A54C-AA1FBE421B44</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3A58E4B4-D4C2-4AB4-9BF4-3C7D9376D4C8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3AF7D8EA-0A64-417D-8A1D-432B6272B8AB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3B20F4A6-3400-4B9C-8591-A326AF8F616B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3C7848E8-8DE4-4FDC-88D7-B655EAC58A0A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4244605B-4D50-46CB-A079-57A6B5F0A0A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4429E692-D772-4F9B-BBCA-D39AC2CA5791</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>45F6EB93-C4E9-4497-B7C9-F29817494DFF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4B3ACD70-F7D5-4C83-834B-227BAD730C73</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4DF57EC0-4186-4549-9E41-A4CAAB17DE4A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4E75867E-0DCE-4D8A-817E-C298ABE9B6DE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4FBEB562-03E9-4E9B-AE15-D0BE79F051B1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5BD49B16-AD30-420E-8E6E-C0A281FFB93D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5F1DFC67-3910-462D-8AD4-E971113A7409</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7137F6B7-8ECF-4B97-84B6-1D2930871F1F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7574218D-766E-40BB-A6A5-45FA31BA9A98</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>77D2C7EC-771E-4AFA-92A2-46597EFD9F8F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>79DE2CBE-A5F2-4DCD-AF2B-2DE5B7FECBD5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8038CBD4-1CDC-4D44-9880-E585378565EA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>82400414-9ECB-454D-8F62-CF43D1F96576</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8435D019-B9B9-4615-8BDC-F7783789006D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>88903A84-890C-4361-B7C3-9EE59018EC3E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8B672601-17EB-4F96-9EF3-D558685F6AB5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>95384325-4873-420F-AE94-3C7E0A8FF5DD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9736EDCF-B577-4C0D-ABB3-66C1EAE01F7C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C3C3F8E-5925-4B65-A744-0C2551B9E41C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A4DA0DF3-3A08-4501-B2F8-F256AFDE0392</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A69C96B8-4902-42F8-B1CF-586004916454</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AE43CA13-604F-4FE8-BCA5-A78AD76A79D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AF59BA5F-BC3F-48C5-8575-E3638F32A08C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B6C91DB2-8FC4-45CC-8695-8AC6F5F8DD23</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7EFF44C-3867-4AA1-B15B-9C6148485B03</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B9FA15E2-3288-4BA5-B3E1-A85D3789FFD7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC3FDD75-96C6-4303-93EA-8C9D155FD44D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC47ED2C-FDA7-4D0E-ACC8-067D2B69AE86</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C04A207C-2408-4EDE-8C62-9937BD8577FE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C5CAFA7A-9BA8-408E-8306-C5640C771104</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C7074FDC-AA73-48AE-92DF-5E3AE5305201</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C796E5F0-8538-4CBA-ADE6-26BB129254FB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C8F98E66-7AC6-4300-B250-87783EE31C61</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C8FC9692-FCA8-4825-8D02-F04A419AF4BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD00FFE0-BB2D-4BD4-8B53-C899C3A0A22E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CE130A60-033E-4A6B-8FE8-FD96F2C91CED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D12B2365-D2DE-46C4-8888-189EE79914C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D1ED545E-FA3B-4A3F-A4D1-3F1F4E6E6E13</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2170201-5D37-4BE8-98B7-D495653C3F95</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2957F8B-5049-48F0-AC42-2615A8CF0591</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2C79734-E7F5-49A2-92B4-201EE3B39FE8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D745CF75-4F0B-478C-A4A7-730300A5E22C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC1448AA-AC33-4695-BAEB-8E8BE85AA8DA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DD6D04A2-8976-4EC5-8DE0-E2069D05BD51</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DE8931AE-4127-4DC0-88EA-461B5027C118</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E2DAB33D-D631-4965-AF2C-57DD005088AF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E310FC17-2D4D-44CE-A230-875564BC8D32</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E3957CE4-B02A-4243-BD36-CB9CAFAFDC7A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E5480327-0D44-468F-81EF-780EAE5982A4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E66782ED-6E85-453B-A16B-53D3BB790792</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EAC34DAC-B9D9-4622-A2C8-A702C718BF69</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ECE93083-6494-448F-9274-7E28C927375D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EDBBFFF7-D55D-4894-BACA-EBA8D8E76836</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F0504B0E-A123-437F-80A5-4566C5C7925B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F25E8FE3-01A8-4ADB-9DDC-D28576DC73AF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F95868B2-CAE7-4810-86D9-D5068D18847B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FACD0E37-678A-4AD1-9779-CBDE56EDB804</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FAE4035D-2240-4160-A635-5AFC41FCC887</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FB3AE06C-29B3-4579-AEC2-24B6B5E10875</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC045630-47F5-4117-BD12-2A682CEE275A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {706, 484}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {620, 1225}}</string>
		<string>{{621, 0}, {347, 1225}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.PDFScale</key>
	<real>2.4495034217834473</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {496, 935.20000000000005}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>3160 91 1311 1311 2560 0 2560 1415 </string>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.PDFScale</key>
	<real>1.4386904239654541</real>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
